@charset "UTF-8";
@import 'base';

.wrap {
    position: relative;
}

body {
    &.fixed {
        overflow: hidden;
        height: 100vh;
        background-color: #fff;

        .wrap {

            >div:not(header) {
                background: #fff;
            }

        }
    }

    &.overflow-hidden {
        .header {
            border-bottom: none;

            &.scrolled {
                background: none;
                backdrop-filter: unset;
            }

            .header__inner {
                display: none;
            }
        }
    }
}

.wrap {
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.container {
    width: 192rem;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.header {
    margin: 0 auto;
    width: 192rem;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    height: 10rem;

    &__inner {
        display: flex;
        width: 144rem;
        max-width: 100%;
        margin: 0 auto;
        height: 100%;
    }

    &.active {


        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 0.1rem;
            background: #eaeaea;
            position: absolute;
            bottom: 0;
        }
    }
}



.footer {
    width: 192rem;
    margin: 0 auto;
    background: #05020F;
    display: flex;
    justify-content: center;

    &__inner {
        /* height: 22rem; */
        width: 144rem;
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 8rem 0;
    }
}

.sub {
    &-container {
        width: 192rem;
        max-width: 100%;
        margin: 0 auto;
        position: relative;
    }

    &-content__inner {
        width: 144rem;
        max-width: 100%;
        margin: 7.2rem auto 8rem;
    }

    &:after {
        display: none !important;
    }
}